name: dotnet-format check
on: [push, pull_request]

jobs:
    format:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Setup .NET
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: "8.0.x"
            - name: Install dotnet-format
              run: dotnet tool install -g dotnet-format
            - name: Run dotnet format check
              env:
                  PATH: ${{ env.PATH }}:/home/runner/.dotnet/tools
              run: dotnet format --verify-no-changes
